

<%= render 'articles/navnew'%>
<div class="container">
<h1>Create Post</h1>
<div class="form-adjust">
<%= render 'form' %>
</div>
</div>
</div>
<style>
        .intro-header{
                background:url(/assets/c.jpg) !important;

        }
        .container-fluid{
             background:url(/assets/c.jpg) !important;
        }
        .form-adjust{
            width:50%;
            margin: 0 auto;
        }
.site-heading{
    color:grey;
   }
.subheading{
    color:grey;
}
        
        </style>

                 